/ {
  nice_view {
    compatible = "zmk,display";
    label = "NICE_VIEW";
    displays = <&display>;
    renderer = <&main_renderer>;
  };

  main_renderer: renderer {
    compatible = "zmk,display-renderer";
    draw-text-fn = "layer_name";
    children = <&layer_status &battery_status>;
  };

  battery_status: battery_status {
    compatible = "zmk,battery-status";
  };
};
